<%= render 'shared/navbar_pages' %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <% if @categories.is_a?(Array) %>
      <% @categories.each do |category| %>
          <%= link_to services_path(query: category) do %>
            <div class="box border-0 d-flex category-cards">
              <div class="btn-light btn-block btnnavbar" role="button" aria-pressed="true"><%= category %></div> <i class="bi bi-arrow-right"></i>
            </div>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to services_path(query: category) do %>
      <div class="card category">
        <img class="card-img" src="https://www.pcclean.io/wp-content/uploads/2020/4/qIZNRz.jpg" alt="Card img">
          <div class="overlay">
            <span><%= @categories %></span>
          </div>
      </div>
    </div>
    <% end %>
  <% end %>
