<%= render 'shared/navbar_back_pages' %>
<%= render 'shared/categories_scroll' %>

<div style="margin-top:10px; margin-bottom:90px;">
  <div class = "container"> <h4 id="h3-allivu" style="padding: 20px; color: #6C9A8B; margin-top: 100px">Your search results by <%= params[:query] %></h4> </div>
    <p class = "p-allivu"><%= @services.length %> results found </p>
    <div class="container">
      <div class="d-flex">
        <button class="filter"><%= link_to "High", services_path(option: "High") %></button>
        <button class="filter"><%= link_to "Low", services_path(option: "Low") %></button>
      </div>
      <% @services.each do |service| %>
        <%= link_to service_path(service), :class =>"card-link" do %>
            <div class="card categoryy my-4">
              <%=cl_image_tag service.photos.first.key, height: 300, width: 400, crop: :fill %>
              <div class="overlay serv">

                <h1><%= service.name %></h1>

                <div class="row">
                  <% array = [] %>
                  <% service.reviews.each do |review|%>
                    <% array << review.rating %>
                  <% end %>
                  <% if array == nil %>
                    <p><%= '%.1f' % (array.sum(0.0) / array.size) %> &#9733</p>
                  <% end %>
                  <div class="action">
                    <h2><%= service.price.round%> € </h2>
                    <button class="button-33" role="button">more info</button>
                  </div>
                </div>
              </div>
            </div>
          <%# </div> %>
        <% end %>
      <% end %>
    </div>
</div>
