<%= render 'shared/navbar_pages' %>


<div style="margin-top:30px; margin-bottom:90px;">
<div class = "container"> <h2 class="pl-4 h2-allivu">
  <% if @services == Service.all %>
  
      All the services </h2>
      <p class="allivu-sm"> No specific matches were found.</p>
    <% else %>
      <h2 class="pl-4 h2-allivu"> Available services in <%= :category %> </h2>
  <% end %>
  </div>
  <div class="container">
  <% @services.each do |service| %>
      <%= link_to service_path(service), :class =>"card-link" do %>
      <div class="card categoryy my-4">
        <img class="card-img" src="https://wallpaperaccess.com/full/7127369.jpg" alt="Card img" >
        <div class="overlay serv">
          <h1><%= service.name %></h1>
          <div class="row">
          <% array = [] %>
            <% service.reviews.each do |review|%>
              <% array << review.rating %>
            <% end %>
            <% if array == nil %>
              <p><%= '%.1f' % (array.sum(0.0) / array.size) %> &#9733</p>
            <% end %>
            <h2><%= service.price.round%> € </h2>
          </div>
        </div>
      <% end %>
    </div>

  <% end %>
</div>
