<%= render 'shared/navbar_pages' %>


<div style="margin-top:30px; margin-bottom:90px;">
<div class = "container"> <h3 class="h3-allivu"> Services in your location </h3> </div>
  <% @services.each do |service| %>
    <div class="container">
      <%= link_to service_path(service), :class =>"card-link" do %>
      <div class="card categoryy">
        <img class="card-img" src="https://wallpaperaccess.com/full/7127369.jpg" alt="Card img" >
        <div class="overlay serv">
          <h1><%= service.name %></h1>
          <div class="row">
          <% array = [] %>
            <% service.reviews.each do |review|%>
              <% array << review.rating %>
            <% end %>
              <p><%= '%.1f' % (array.sum(0.0) / array.size) %> &#9733</p>
            <h2><%= service.price.round%> € </h2>
          </div>
        </div>
      <% end %>
    </div>

  <% end %>
</div>
