<%= render 'shared/navbar_pages' %>

<!-- Hero Image Section Start-->
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%=cl_image_tag @service.photos.first.key, height: 300, crop: :fill %>
      </div>
      <% @service.photos.drop(1).each do |photo| %>
        <div class="carousel-item">
          <%= cl_image_tag photo.key, height: 300, crop: :fill %>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <%# <div class="container img-container" style="background-image: url(https://images.unsplash.com/photo-1600334089648-b0d9d3028eb2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fH" alt="Service image");>
  </div> %>

  <!-- Hero Image Section End-->

  <div class="container px-4">
  <!-- Service info Start-->
    <div class="row g-4 justify-content-center">
      <div class="col-lg-8">
        <!-- Description-head Start-->
        <div class="service-head">
          <div class="service-head-details">
            <h2 class="allivu-h2"><strong><%= @service.name.capitalize %></strong></h2>
            <h3 class="allivu-h3">$<%= @service.price.to_i %></h3>
          </div>
            <h5>Service hosted by <%= "#{@service.user.first_name.capitalize} #{@service.user.last_name.capitalize}" %> </h5>
            <h6><%= "#{@service.reviews.count} reviews" %></h6>
        </div>
        <hr>
        <!-- Description-head End-->

        <div>
        <!-- Description-body Start-->
          <div class="row justify-content-center pb-4">
            <button class="button-wide"><strong>Check availability</strong></button>
          </div>
          <h5 class="description mb-2">Description</h5>
          <p class="allivu-p"><%= @service.description %></p>
        </div>
        <!-- Description-body End-->
      </div>
      <hr>
  <!-- Service info End-->
  <!-- Location start-->
      <h5 class="p-allivu"><strong>Location</strong></h5>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <hr>
  <!-- Location end-->
  <!-- Form start-->
      <h5 class="p-allivu"><strong>Select date</strong></h5>
      <% if @service.user == current_user%>
        <div class="col-12 col-lg-4">
          </div>
        <% else %>
          <div class="col-12 col-lg-4">
            <%= render "/shared/form", service: @service, booking: @booking %>
          </div>
        <% end %>
        </div>
      <hr>
      <br>
  <!-- Form end-->
  <!-- Review section start-->
      <h5 class="p-allivu"><strong>Reviews</strong></h5>
      <br>
      <% @service.reviews.each do |serve| %>
      <div class="bezier card mb-3 ">
        <div class="card-header"><%= "#{serve.booking.user.first_name} #{serve.booking.user.last_name}" %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= "#{serve.rating.to_i} stars" %></h5>
          <p class="card-text"><%= serve.comment %></p>
        </div>
      </div>
      <% end %>
      <hr>
  <!-- Review section End-->
  <!-- Provider about start-->
        <h5 class="p-allivu">About <%= "#{@service.user.first_name.capitalize} #{@service.user.last_name.capitalize}" %> </h5>
        <% d = @service.created_at %>
        <p>Joined in <%= "#{d.strftime("%B")} #{d.year}" %> </p>
  <!-- Provider review start-->
        <% sum = [] %>
        <% @service.user.services.each do |serve| %>
          <% sum << serve.reviews.count %>
        <% end %>
        <h6><%= "⭐️ #{sum.sum} Reviews" %></h6>
        <p class="link-allivu">View profile</p>
  <!-- Provider review end-->
  <!-- Contact start-->
          <button class="button-wide">
            <%= "Contact #{@service.user.first_name.capitalize}" %>
          </button>
  <!-- Contact end-->
      </div>
    </div>
  </div>
