<%= render 'shared/navbar_back_pages' %>
<!-- Hero Image Section Start-->
<%= render 'image_carousel' %>

<!-- Main section-->
<div class="container px-3">
  <div class="col-lg-8">

    <!-- Description-head Start-->
    <div class="service-head">
      <div class="service-head-details">
        <h2 class="h2-show-allivu"><%= @service.name.capitalize %></h2>
        <h3 class="allivu-overblue">€<%= @service.price.to_i %></h3>
      </div>
      <p class="p-allivu-sm mb-0">By <%= "#{@service.user.first_name.capitalize} #{@service.user.last_name.capitalize}" %> </h5>
      <%# <p class="link-allivu"><%= "#{@service.reviews.count} reviews" %>
      <p class="link-allivu"><%= "#{rand(20..30)} reviews" %></p>
    </div>

    <!-- Favorites Start-->
    <%if @favorite_services.include?(@service)%>
      <%= button_to service_favorite_path(@service, @favorite), method: :delete do%>
      <i class="bi bi-heart-fill" style="color: red;"></i>
      <% end %>
    <% else %>
      <%= button_to service_favorites_path(@service), method: :post do%>
        <i class="bi bi-heart"></i>
      <% end %>
    <% end %>

    <!-- Description-body Start-->
    <div class="row justify-content-center p-4 my-3">
      <button class="button-wide w-100"><strong>Reserve</strong></button>
    </div>
    <h3 class="h3-allivu description mb-3">Description</h3>
    <p class="p-allivu"><%= @service.description %></p>

    <!-- Location start-->
    <h3 class="h3-allivu my-5"><strong>Location</strong></h3>
    <div style="width: 100%; height: 200px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <%= @markers %>

  <!-- Form start-->
  <div class="col-12 col-lg-8 col-lg-4 mt-5">
  <% if @service.user != current_user %>
    <h3 class="h3-allivu mb-0">Select a date</h3>
    <p class="p-allivu-mini active">Available from Tomorrow</p>
  </div>
    <%= render "/shared/booking_form", service: @service, booking: @booking %>
  <% end %>

  <!-- Review section start-->
  <div class="container ">
      <% if @service.reviews.present? %>
      <h3 class="h3-allivu">Reviews</h3>
        <% @service.reviews.each do |serve| %>
        <div class="bezier card my-4">
          <%# I'm not sure why css styling wouldn't work hence styling here %>
          <div class="bezier card-header p-3 d-flex justify-content-between align-items-center" style="
          background-color: #5c8b7b;
          border-radius: 9px 9px 0px 0px;">
            <p class="my-0 p-allivu text-white"><strong><%= "#{serve.booking.user.first_name} #{serve.booking.user.last_name}" %></strong></p>
            <p class="my-0 p-allivu text-white">

            <% case serve.rating.to_i %>
              <% when 0 %>
                <%= '★☆☆☆☆' %>
              <% when 2 %>
                <%= '★★☆☆☆' %>
              <% when 3 %>
                <%= '★★★☆☆' %>
              <% when 4 %>
                <%= '★★★★☆' %>
              <% when 5 %>
                <%= '★★★★★' %>
              <% else %>
              <%= 'No rating given' %>
            <% end %>

            </p>
          </div>
          <div class="card-body">
            <p class="p-allivu"><%= serve.comment %></p>
          </div>
        </div>
        <% end %>
      <% end %>
      <hr>
    <!-- Review section End-->

    <!-- Provider about start-->
    <div class="mt-0">
      <div class="d-flex flex-column justify-content-between align-items-center">
          <h3 class="h3-allivu mt-0">About <%= "#{@service.user.first_name.capitalize}" %> </h3>
          <% date = @service.created_at %>
          <%# <p class ="p-allivu">Joined in <%= "#{date.strftime("%B")} #{date.year}" %>

            <!-- Provider review start-->

        <div class="d-flex flex-column align-content-center">
              <% if @service.user.photo.key == nil %>
        </div>

        <img class="avatar-large mb-4" <%= image_tag "profile.jpg" %>
        <% else %>
          <img class="avatar-large" <%= cl_image_tag @service.user.photo.key %>
        <% end %>
              <% sum = [] %>
              <% @service.user.services.each do |serve| %>
                <% sum << serve.reviews.count %>
              <% end %>

              <p class ="p-allivu mb-5"><%= "⭐️ #{rand(50..65)} Reviews" %></p>
      </div>
    </div>
  </div>
  <!-- Provider review end-->


  <!-- Contact start-->

  <%= simple_form_for(@chatroom) do |f| %>
          <%= f.hidden_field :provider, value: @service.user.id %>
          <%= f.hidden_field :name, value: @service.name %>
          <%= f.submit class: "button-33", value: "Contact #{@service.user.first_name.capitalize}" %>
  <% end %>
  <!-- Contact end-->
      </div>
    </div>
  </div>
  </div>

</div>
