<%= render 'shared/navbar_back_pages' %>
<!-- Hero Image Section Start-->
<%= render 'image_carousel' %>

  <!-- Hero Image Section End-->

  <div class="container px-3">
  <!-- Service info Start-->
    <div class="row g-4 px-3 justify-content-center">
      <div class="col-lg-8">
        <!-- Description-head Start-->
        <div class="service-head">
          <div class="service-head-details">
            <h2 class="h2-show-allivu"><%= @service.name.capitalize %></h2>
            <h3 class="allivu-overblue">€<%= @service.price.to_i %></h3>
          </div>
            <p class="p-allivu-sm">By <%= "#{@service.user.first_name.capitalize} #{@service.user.last_name.capitalize}" %> </h5>
            <p class="link-allivu"><%= "#{@service.reviews.count} reviews" %></h6>
        </div>

        <!-- Favorites Start-->
        <%if @favorite_services.include?(@service)%>
          <%= button_to service_favorite_path(@service, @favorite), method: :delete do%>
            <i class="bi bi-heart-fill" style="color: red;"></i>
          <% end %>

        <% else %>
          <%= button_to service_favorites_path(@service), method: :post do%>
            <i class="bi bi-heart"></i>
          <% end %>
        <% end %>

      <div>
        <!-- Description-body Start-->
          <div class="row justify-content-center pb-4">
            <button class="button-wide w-100"><strong>Check availability</strong></button>
          </div>
          <h5 class="description mb-2">Description</h5>
          <p class="allivu-p"><%= @service.description %></p>
        </div>
        <!-- Description-body End-->
      </div>
      <hr>
  <!-- Service info End-->
  <!-- Location start-->
      <h5 class="p-allivu"><strong>Location</strong></h5>
      <br>
      <br>
      <div style="width: 100%; height: 200px; margin: 5px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <br>
      <br>
      <hr>
  <!-- Location end-->
  <!-- Form start-->
      <% if @service.user == current_user %>
        <div class="col-12 col-lg-4">
          </div>
        <% else %>
        <h5 class="p-allivu"><strong>Make a booking</strong></h5>
          <div class="col-12 col-lg-4">
            <%= render "/shared/booking_form", service: @service, booking: @booking %>
          </div>
        <% end %>
        </div>
      <hr>
      <br>
  <!-- Form end-->
  <!-- Review section start-->
      <% if @service.reviews.present? %>
      <h5 class="p-allivu"><strong>Reviews</strong></h5>
      <br>
        <% @service.reviews.each do |serve| %>
        <div class="bezier card mb-3 ">
          <div class="card-header"><%= "#{serve.booking.user.first_name} #{serve.booking.user.last_name}" %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= "#{serve.rating.to_i} stars" %></h5>
            <p class="card-text"><%= serve.comment %></p>
          </div>
        </div>
        <% end %>
      <% end %>
      <hr>
  <!-- Review section End-->
  <!-- Provider about start-->
        <h5 class="p-allivu">About <%= "#{@service.user.first_name.capitalize} #{@service.user.last_name.capitalize}" %> </h5>
        <% date = @service.created_at %>
        <p>Joined in <%= "#{date.strftime("%B")} #{date.year}" %> </p>
  <!-- Provider review start-->
        <% sum = [] %>
        <% @service.user.services.each do |serve| %>
          <% sum << serve.reviews.count %>
        <% end %>
        <h6><%= "⭐️ #{sum.sum} Reviews" %></h6>
        <p class="link-allivu">View profile</p>
  <!-- Provider review end-->
  <!-- Contact start-->
          <button class="button-wide">
            <%= "Contact #{@service.user.first_name.capitalize}" %>
          </button>
  <!-- Contact end-->
      </div>
    </div>
  </div>
