<%= render 'shared/navbar_back_pages' %>

<div class="container">
  <div class="row align-items-lg-center justify-content-center justify-content-xl-between mb-5">


    <div class="col-lg-6 d-lg-block">
      <img src="https://images.unsplash.com/photo-1527998257557-0c18b22fa4cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&h=600&w=450" alt="Image" class="img-fluid">
    </div>

    <div class="col-md-8 col-lg-6 col-xl-5">
      <div class="px-2">

        <h2 class="h2-allivu">Sign up</h2>
        <p class="p-allivu mb-5">Join a global community of holiday-goers and local providers!</p>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :first_name,
              required: true %>

            <%= f.input :last_name,
              required: true %>

            <%= f.input :username,
              required: true %>

            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="form-actions mt-5">
            <%= f.submit "Sign up", class: "button-wide w-100" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
