<%= render 'shared/navbar_back_pages' %>

<div style="margin-top:30px; margin-bottom:90px;">
  <div class = "container"> <h3 class="h3-allivu"> Your Favorites List</h3> </div>
    <div class="container">
      <% @favorites.each do |favorite| %>
        <%= link_to service_path(favorite.service), :class =>"card-link" do %>
          <div class="card categoryy my-4">
            <%=cl_image_tag favorite.service.photos.first.key, height: 300, width: 400, crop: :fill %>
            <div class="overlay serv">
              <h1 class="text-dark"><%= favorite.service.name %></h1>
              <h4 class="text-dark">By : <%= favorite.service.user.first_name%> <%= favorite.service.user.last_name%></h4>
              <div class="row">
                <% array = [] %>
                <% favorite.service.reviews.each do |review|%>
                  <% array << review.rating %>
                <% end %>
                <% if array == nil %>
                  <p><%= '%.1f' % (array.sum(0.0) / array.size) %> &#9733</p>

                <% end %>
               <h2 class="pl-3"><%= favorite.service.price.round%> € </h2>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
