<% @user_reviews = current_user.user_reviews %>
  <% if @user_reviews.present? %>
    <h4><strong>Reviews</strong></h4>
      <% @user_reviews.each do |review| %>
      <div class="bezier card mb-3 ">
        <div class="card-header"><%= "#{review.booking.service.user.first_name} #{review.booking.service.user.last_name}" %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= "#{review.rating.to_i} stars" %></h5>
          <p class="card-text"><%= review.comment %></p>
        </div>
      </div>
      <% end %>
    <% else %>
      <% current_user.services.each do |service| %>
        <% if service.bookings.any? %>
          <% service.bookings.each do |booking| %>
            <% if booking.review.present? %>
              <div class="bezier card mb-3 ">
                <div class="card-header"><%= "#{booking.user.first_name} #{booking.user.last_name}" %></div>
                <div class="card-body">
                  <h5 class="card-title mt-0"><%= "#{booking.review.rating.to_i}" %></h5>
                  <p class="card-text"><%= booking.review.comment %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
  <% end %>
