<%# PARTIAL NOT IN USE %>
<% user_reviews = current_user.user_reviews %>
<% user_services = current_user.services %>

<% if user_reviews.present? && current_user.provider == false %>

    <% user_reviews.each do |review| %>
    <div class="bezier card mb-3 ">
      <div class="card-header"><%= "#{review.booking.service.user.first_name} #{review.booking.service.user.last_name}" %>
      </div>
      <div class="card-body pt-0">

      <h5 class="card-title mt-2">
        <% case review.rating.to_i %>
        <% when 0 %>
          <%= '★☆☆☆☆' %>
        <% when 2 %>
          <%= '★★☆☆☆' %>
        <% when 3 %>
          <%= '★★★☆☆' %>
        <% when 4 %>
          <%= '★★★★☆' %>
        <% when 5 %>
          <%= '★★★★★' %>
        <% else %>
        <%= 'No rating given' %>
        <% end %>
      </h5>

        <p class="card-text"><%= review.comment %></p>
      </div>
    </div>
    <% end %>

  <% else %>

    <% if user_services.any? %>
      <% user_services.each do |service| %>
        <% if service.bookings.any? %>
          <% service.bookings.each do |booking| %>

            <% if booking.review.present? %>
              <div class="bezier card mb-3 ">
                <div class="card-header"><%= "#{booking.user.first_name} #{booking.user.last_name}" %></div>
                <div class="card-body pt-0">

                  <h5 class="card-title mt-2">
                    <% case booking.review.rating.to_i %>
                    <% when 0 %>
                      <%= '★☆☆☆☆' %>
                    <% when 2 %>
                      <%= '★★☆☆☆' %>
                    <% when 3 %>
                      <%= '★★★☆☆' %>
                    <% when 4 %>
                      <%= '★★★★☆' %>
                    <% when 5 %>
                      <%= '★★★★★' %>
                    <% else %>
                    <%= 'No rating given' %>
                    <% end %>
                  </h5>

                  <p class="card-text"><%= booking.review.comment %></p>
                </div>
              </div>
            <% end %>

          <% end %>
        <% end %>
      <% end %>
    <% end %>

<% end %>
