<h5 class="card-title">

<% case booking.review.rating.to_i %>
<% when 0 %>
  <%= '★☆☆☆☆' %>
<% when 2 %>
  <%= '★★☆☆☆' %>
<% when 3 %>
  <%= '★★★☆☆' %>
<% when 4 %>
  <%= '★★★★☆' %>
<% when 5 %>
  <%= '★★★★★' %>
<% else %>
<%= 'No rating given' %>
<% end %>

</h5>
