<% @bookings = Booking.where(user_id: current_user) %>

<!-- Past bookings -->
<% @bookings.limit(3).each do |booking| %>
  <% if booking.start_date < Date.today %>

    <div class="card-product align-items-center">
      <%=cl_image_tag booking.service.photos.first.key, height: 200, crop: :fill %>
      <div class="card-product-infos">

        <%= link_to service_path(booking.service) do %>
          <h4 class="live-link mb-2"><%= booking.service.name %></h4>
          <p class="p-allivu-mini">Served by: <%= User.find(booking.service.user_id).first_name %></p>
          <p class="link-allivu"><%= link_to "Write a Review", new_service_booking_review_path(booking.service, booking) %></p>
        <% end %>

      </div>
    </div>
  <% end %>
  <hr class="line">
<% end %>
