<%= render 'shared/navbar_pages' %>
<div class="container">
  <div class="d-flex justify-content-between align-items-center">
  <%= render 'avatar_photo' %>
  </div>
    <p>Joined in <%= "#{current_user.created_at.year}" %></p>

    <!-- Review Overview -->
    <% @user_services = current_user.services %>
    <% array = [] %>
    <% @user_services.each do |service| %>
      <% array << service.reviews.count %>
    <% end %>
    <% if @user_services.empty? %>
      <p><%= "No Reviews yet" %></p>
    <% else %>
      <p><%= "#{array.sum} Reviews" %></p>
      <p><%= "Average rating:  #{'%.1f' % (array.sum(0.0) / array.size)}" %> &#9733</p>
    <% end %>
    <p>-----------------------------------------------</p>

  <p>-----------------------------------------------</p>
  <!-- Upcoming bookings -->
  <%= render 'provider_bookings' %>

  <!-- Review feed -->
  <%= render 'review_feed' %>

  <!-- Provider option -->
  <% if current_user.provider == false %>
    <h4>Become a Provider</h4>
    <p class="btn"><%= link_to "Start", users_account_provider_path %></p>
  <% end %>

  <div class="d-flex justify-content-center my-5">
    <%= button_to "logout", destroy_user_session_path, method: :delete, class: "button-wide" %>
  </div>
</div>
