<%= render 'shared/navbar_back_pages' %>
<div class="container mt-3 px-5">
<!-- List Services -->
    <h1 class="h1-allivu mb-4">Your Services</h1>
    <% average_service_rating = [] %>
    <% current_user.services.each do |service| %>
    <div class="card-product">
    <%=cl_image_tag service.photos.first.key, height: 200, crop: :fill %>
      <div class="card-product-infos">
        <p class="card-desc-p-allivu"><%= link_to "#{service.name}", service_path(service) %></p>
        <p class="card-desc-p-allivu-sm"><%= "#{service.reviews.count} reviews" %></p>
        <% service.reviews.each do |review| %>
          <% average_service_rating << review.rating %>
        <% end %>
        <p class="card-desc-p-allivu-sm"><%= "Average rating:  #{'%.1f' % (average_service_rating.sum(0.0) / average_service_rating.size)}" %></p>
      </div>
    </div>
    <% end %>
</div>
