<div class="container">
  <h1>User Dashboard</h1>

  <%= "Welcome #{current_user.username}!"%>
  <hr>
  <h4>Your upcoming bookings</h4>
  <div class="cards">
    <% @bookings = Booking.where(user_id: current_user) %>
      <% @bookings.each do |booking| %>
        <div class="card">
          <%=cl_image_tag booking.service.photos.first.key, height: 300, width: 400, crop: :fill %>
          <div class="card-body">
            <h5 class="card-title"><%= booking.service.name %></h5>
            <p>Category: <%= booking.service.category %></p>
            <p>Price: $<%= booking.service.price.round %></p>
            <p>Date:
              <%= booking.start_date.strftime("%e/%m/%Y") %> to <%=booking.end_date.strftime("%e/%m/%Y") %>
            </p>
          </div>
        </div>
        <br>
      <% end %>
    <hr>
  </div>
</div>
