<%= render 'shared/navbar_pages' %>
<div class="container">
  <h1><%= "Hello #{current_user.first_name}"%></h1>
  <p>Joined in <%= "#{current_user.created_at.year}" %> </p>
  <p class="link-allivu"><%= link_to "Edit profile", edit_user_registration_path %></p>
  <h6><%= "#{current_user.user_reviews.count} Reviews" %></h6>
  <hr>
  <!-- Upcoming bookings start -->
  <h4>Upcoming Bookings</h4>
    <% @bookings = Booking.where(user_id: current_user) %>
      <% @bookings.each do |booking| %>
        <div class="card-product">
        <%=cl_image_tag booking.service.photos.first.key, height: 200, crop: :fill %>
          <div class="card-product-infos">
            <h4><%= booking.service.name %></h4>
            <p class="card-desc-p-allivu-sm">Provider: <%= User.find(booking.service.user_id).first_name %></p>
            <p class="card-desc-p-allivu-sm"><%= booking.start_date.strftime("%B %e ") %>—<%=booking.end_date.strftime("%e, %Y") %></p>
          </div>
        </div>
      <% end %>
  <!-- Upcoming bookings end -->

  <hr>
</div>
