<%= render 'shared/navbar_back_pages' %>
<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex flex-column align-content-center">
      <h1 class="h1-allivu my-0"><%= "Hello #{current_user.first_name}"%></h1>
      <p class="my-0">Joined in <%= "#{current_user.created_at.year}" %></p>
  <% if current_user.user_reviews.any? %>
    <h6><%= "#{current_user.user_reviews.count} Reviews" %></h6>
  <% end %>
    </div>
  <%= render 'avatar_photo' %>
  </div>


  <p class="link-allivu "><%= link_to "Account settings", edit_user_registration_path %></p>

  <!-- Upcoming -->
  <% @bookings = Booking.where(user_id: current_user) %>
  <% if @bookings.any? %>
   <h3 class="h3-allivu mb-4">Upcoming bookings</h3>
    <% @bookings.each do |booking| %>
      <% if booking.start_date > Date.today %>
        <div class="card-product">
          <%=cl_image_tag booking.service.photos.first.key, height: 200, crop: :fill %>
          <div class="card-product-infos">
            <h4><%= link_to booking.service.name, service_path(booking.service) %></h4>
            <p class="card-desc-p-allivu-sm">Provider: <%= User.find(booking.service.user_id).first_name %></p>
            <p class="card-desc-p-allivu-sm"><%= booking.start_date.strftime("%B %e ") %>—<%=booking.end_date.strftime("%e, %Y") %></p>
            <p class="link-allivu"><%= link_to "Manage booking", edit_service_booking_path(id: booking, service_id: booking.service) %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
  <% end %>
  <hr>

  <!-- History + Reviews -->

  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">History</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Reviews</button>
    </li>
  </ul>
  <div class="tab-content mb-5" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"><%= render 'user_bookings' %></div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"><%= render 'review_feed' %></div>
  </div>

  <!-- Provider option -->
  <% if current_user.provider? == false %>
    <div class="d-flex justify-content-center my-3">
      <%= link_to "Become a provider", users_account_become_a_provider_path, class: "button-wide" %>
    </div>
  <% end %>

  <div class="d-flex justify-content-center my-3">
    <%= button_to "logout", destroy_user_session_path, method: :delete, class: "button-wide" %>

  </div>
</div>
