<%= render 'shared/navbar_back_pages' %>

<div class="container px-5">
  <h2 class="h2-allivu">Forgot your password?</h2>
  <p class="mb-4">Fill in your email associated with your Allivu account.</p>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions">
      <%= f.submit "Send me reset password instructions", class: "button-wide w-100" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
