<div class ="navbartop sticky-top">
  <%= render "shared/search_landing" %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</div>
<div class="navbartop">
  <div class="wrappernavbar">
  <%= link_to services_path(category: "Private Classes") do %>
    <div class="box">
      <div class="btn-light btn-block btnnavbar" role="button" aria-pressed="true"><i class="bi bi-book" style="font-size: 4rem"></i><br>Private <br>Classes</div>
    </div>
  <% end %>
  <%= link_to services_path(category: "Sports") do %>
    <div class="box">
      <div class="btn-light btn-block btnnavbar" role="button" aria-pressed="true"><i class="bi bi-heart-pulse" style="font-size: 4rem"></i><br>Sports</div>
    </div>
  <% end %>
  <%= link_to services_path(category: "Tours") do %>
    <div class="box">
      <div class="btn-light btn-block btnnavbar" role="button" aria-pressed="true"><i class="bi bi-signpost-2" style="font-size: 4rem"></i><br>Tours</div>
    </div>
  <% end %>
  <%= link_to services_path(category: "Beauty") do %>
    <div class="box">
      <div class="btn-light btn-block btnnavbar" role="button" aria-pressed="true"><i class="bi bi-scissors" style="font-size: 4rem"></i><br>Beauty</div>
    </div>
  <% end %>
  <%= link_to services_path(category: "Personal Assistant") do %>
    <div class="box">
      <div class="btn-light btn-block btnnavbar" role="button" aria-pressed="true"><i class="bi bi-universal-access" style="font-size: 4rem"></i><br>Personal <br> Assistant</div>
    </div>
  <% end %>
  <%= link_to services_path(category: "Vehicle Rentals") do %>
    <div class="box">
      <div class="btn-light btn-block btnnavbar" role="button" aria-pressed="true"><i class="bi bi-car-front-fill" style="font-size: 4rem"></i><br>Vehicle Rent</div>
    </div>
  <% end %>
  <%= link_to services_path(category: "Souvenirs") do %>
    <div class="box">
    <div class="btn-light btn-block btnnavbar" role="button" aria-pressed="true"><i class="bi bi-balloon-heart" style="font-size: 4rem"></i><br>Souvenirs</div>
    </div>
  <% end %>
  <%= link_to services_path(category: "Home Entertainment") do %>
    <div class="box">
      <div class="btn-light btn-block btnnavbar" role="button" aria-pressed="true"><i class="bi bi-house-heart" style="font-size: 4rem"></i><br>Home<br>Entertainment</div>
    </div>
  <% end %>
  <%= link_to services_path(category: "Health") do %>
    <div class="box">
      <div class="btn-light btn-block btnnavbar" href="/services" role="button" aria-pressed="true"><i class="bi bi-capsule" style="font-size: 4rem"></i><br>Health</a>
    </div>
  <% end %>
  <%= link_to services_path(category: "Romantic Services") do %>
    <div class="box">
      <div class="btn-light btn-block btnnavbar" href="/services" role="button" aria-pressed="true"><i class="bi bi-hearts" style="font-size: 4rem"></i><br>Romantic</div>
    </div>
  <% end %>
  </div>
</div>
