
<nav class="fixed-bottom navbar-lewagon">
    <div class="row">
        <div class="col">
          <%= link_to root_path do %>
            <i class="fa-solid fa-house icone-navbaractive"></i>
            <div class="link-navbar">Home</div>
          <% end %>
        </div>
        <div class="col">
          <%= link_to categories_path do %>
          <i class="fa-regular fa-heart icone-navbar"></i>
          <div class="link-navbar">Planning</div>
          <% end %>
        </div>
        <div class="col">
          <%= link_to categories_path do %>
          <i class="fa-regular fa-envelope icone-navbar"></i>
          <div class="link-navbar">Messages</div>
          <% end %>
        </div>
        <div class="col">
         <% if user_signed_in? %>
            <%= link_to edit_user_registration_path do %>
              <i class="fa-regular fa-user icone-navbar"></i>
              <div class="link-navbar">Login</div>
            <% end %>
          <% else %>
                <%= link_to new_user_registration_path do %>
                  <i class="fa-regular fa-user icone-navbar"></i>
                  <div class="link-navbar">Account</div>
                <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </a>
</nav>
