
<div class="fixed-bottom navbar-lewagon">
    <div class="row">
        <div class="col">
          <%= link_to root_path do %>
            <i class="fa-solid fa-house icone-navbar <%='active' if request.url == root_path %>"> </i>
            <div class="link-navbar">Home</div>
          <% end %>
        </div>
        <div class="col">
          <%= link_to root_path do %>
          <i class="fa-regular fa-heart icone-navbar <%='active' if request.url == categories_path %>"></i>
          <div class="link-navbar">Planning</div>
          <% end %>
        </div>
        <div class="col">
          <%= link_to root_path do %>
          <i class="fa-regular fa-envelope icone-navbar <%='active' if request.url == categories_path %>"></i>
          <div class="link-navbar">Messages</div>
          <% end %>
        </div>
        <div class="col">
         <% if user_signed_in? %>
            <%= link_to user_path do %>
              <i class="fa-regular fa-user icone-navbar"></i>
              <div class="link-navbar"><%= current_user.username %></div>
            <% end %>
          <% else %>
                <%= link_to new_user_session_path do %>
                  <i class="fa-regular fa-user icone-navbar"></i>
                  <div class="link-navbar">Log in</div>
                <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </a>
</div>
