<%= render "shared/navbar_top" %>
<div class= "container border-bottom pb-5">
  <div class="row justify-content-center">
    <div class="banner">
    </div>
  </div>
</div>

<div style="margin-top:30px; margin-bottom:90px;">
  <div class = "container"> <h3 class="h3-allivu"> TOP rated Services </h3>
    <h5 class="">Search, explore and pay for service vendors all-in-one place.</h5></div>
    <div class="scrolling-wrapper">
      <div class="container d-flex">
        <% @services.take(5).each do |service| %>
          <%= link_to service_path(service), :class =>"card-link" do %>
            <div class="card my-4 land-card">
              <%=cl_image_tag service.photos.first.key, height: 200, width: 300, :style => "border-radius: 10px" , crop: :fill%>
              <div class="overlay serv">
                <h1 class="text-dark"><%= service.name %></h1>
                 <h4 class="text-dark">By : <%= service.user.first_name%> <%= service.user.last_name%></h4>
                <% array = [] %>
                  <% service.reviews.each do |review|%>
                    <% array << review.rating %>
                  <% end %>
                  <% if array == nil %>
                    <%= "no rating" %>
                  <% else %>
                    <% average = 0 %>
                    <% array.each do |rating| %>
                      <% average += rating %>
                    <% end %>
                    <h1><i class="bi bi-star-fill"></i> <%= (average / array.count).round %></h1>
                  <% end %>
                  <div class="row">
                    <div class="action">
                      <h3 class="h3-allivu pl-3"><%= service.price.round%> € </h3>
                      <button class="button-33" role="button">More Info</button>
                    </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
</div>
